@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --bg-color: white;
    --color: black;
    --border-color: #3F444C;
    --font-family: 'Poppins', sans-serif;
    --main-font-size: 16px;
    --container-width: 75%;
    --border-style: 1px solid var(--border-color);
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-family: var(--font-family);
    font-weight: 400;
    margin: 0;
}

.logo,
.navbar-item,
.cta-button a,
.dropdown a {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
}

.logo {
    font-weight: bold;
}

.burger,
.theme {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    color: var(--color);
    margin-top: 15px;
}

.container,
#navigation {
    margin: auto;
    width: var(--container-width);
}

.desc_drip,
.trustFactors,
.productReviews,
.contacts,
.userReview {
    font-size: var(--main-font-size);
}

.trustFactor,
.productReview,
.userReview {
    border: var(--border-style);
    border-radius: 3px;
    padding: 20px;
}

#navigation {
    z-index: 10;
    background-color: var(--bg-color);
    display: flex;
    position: sticky;
    top: 0px;
}

#leftside-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin-top: 10px;
}

.navbar-item {
    font-size: 24px;
}

.logo {
    font-size: 32px;
}

.burger {
    display: none;
    flex-direction: column;
    left: 15px;
}

.theme {
    display: block;
    right: 0px;
}

.dropdown {
    display: none;
}

.dropdown a {
    padding: 5px 20px;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.heading {
    font-size: 24px;
}

.desc_drip {
    margin: auto;
    margin-bottom: 20px;
}

.trustFactors {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.trustFactor p,
.user {
    margin: 10px 0 0 0;
}

.productReviews {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.productReview {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.boldText {
    font-weight: 700;
}

.boldText.review {
    font-size: 24px;
    width: 20%;
}

.boldText.rating {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    text-align: right;
}

.reviewDesc {
    width: 80%;
    margin: 0;
}

.userReviews {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    text-align: left;
}

.userReviewHeading {
    text-align: left;
    margin: auto;
    font-weight: bold;
}

.cta-button {
    text-align: center;
    background-color: var(--bg-color);
    font-size: var(--main-font-size);
    margin-top: 20px;
}

.cta-button a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    border: var(--border-style);
    border-radius: 3px;
    padding: 8px 12px;
    transition: 0.2s border-color;
}

.cta-button a:hover {
    border-color: var(--color);
}

.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

@media screen and (max-width: 3200px) {
    .userReviews {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1920px) {

    .trustFactors,
    .productReviews {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        gap: 20px;
    }
}

@media screen and (max-width: 1430px) {
    .productReview {
        display: block;
    }

    .reviewDesc {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .userReviews {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}

@media screen and (max-width: 1120px) {
    :root {
        --container-width: 94%;
    }
}

@media screen and (max-width: 600px) {
    #navigation {
        width: 100%;
        justify-content: center;
    }

    .navbar-item {
        display: none;
    }

    .burger {
        display: block;
    }

    .theme {
        display: block;
        right: 15px;
    }

    .dropdown {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        background-color: var(--bg-color);
        padding-bottom: 5px;
        transform: translateY(45px);
        opacity: 0;
        pointer-events: none;
        z-index: 5;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .dropdown.show {
        transform: translateY(50px);
        opacity: 1;
        pointer-events: auto;
    }

    .container,
    .userReviews {
        text-align: left;
    }
}