:root{
    --bg-color: black;
    --color: white;
}

body{
    background-color: var(--bg-color);
    color: var(--color);
}

.container{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    width: 66%;
    text-align: center;
}

#navigation{
    margin-top: 15px;
    text-align: center;
    margin: auto;
    gap: 20px;
}

.navbar{
    color: var(--color);
    text-decoration: none;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    cursor: pointer;
}

.logo{
    color: var(--color);
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    cursor: pointer;
}

.headText{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.desc_drip{
    margin: auto;
    width: 85%;
    font-size: 20px;
    margin-bottom: 40px;
}

th{
    font-size: 24px;
}

td{
    padding: 30px;
    font-size: 20px;
}

.trustFactors{
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.productReviews{
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.contacts{
    font-size: 20px;
}

.boldText{
    font-weight: bold;
}

.review {
    font-size: 20px;
}

.userReviews{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.userReview{
    margin: auto;
    font-weight: bold;
}

#revBtn{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border: 2px solid;
    border-radius: 12px;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

#revBtn:hover{
    color: black;
    background-color: white;
}

.cusRev{
    border: 2px solid;
    border-radius: 12px;
}

.endPage{
    margin-top: 40px;
    font-size: 16px;
}

.redirect{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1444px) {
    .userReviews, .trustFactors, .productReviews {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }
}

@media screen and (max-width: 540px) {
    .navbar, .logo{
        display: block;
        text-align: center;
    }
}