@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root{
    --bg-color: white;
    --color: black;
    --font-family: 'Poppins', sans-serif;
    --main-font-size: 20px;
    --container-width: 75%;
}


body{
    background-color: var(--bg-color);
    color: var(--color);
    font-family: var(--font-family);
    font-weight: 400;
    margin: 0;
}

.container{
    margin: auto;
    width: var(--container-width);
}

#navigation{
    width: var(--container-width);
    background-color: var(--bg-color);
    display: flex;
    position: sticky;
    margin: auto;
    top: 0px;
}

#leftside-nav{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    text-align: left;
}

.navbar{
    color: var(--color);
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
}

.logo{
    color: var(--color);
    text-decoration: none;
    font-size: 64px;
    cursor: pointer;
}

.burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 20px;
    font-size: 32px;
    color: var(--color);
}

.theme{
    display: block;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    color: var(--color);
}

#burger, #theme{
    margin-top: 25px;
}

.dropdown{
    display: none;
}

.dropdown a{
    color: var(--color);
    text-decoration: none;
    padding: 5px 10px;
    font-size: 32px;
    transition: background-color 0.3s ease;
}

.headText{
    font-size: 44px;
}

.desc_drip{
    margin: auto;
    font-size: var(--main-font-size);
    margin-bottom: 40px;
}

.trustFactors{
    font-size: var(--main-font-size);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.productReviews{
    font-size: var(--main-font-size);
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.productReview{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.contacts{
    font-size: var(--main-font-size);
}

.boldText{
    font-weight: 700;
}

.boldText.review{
    font-size: 32px;
    width: 20%;
}

.boldText.rating{
    display: block;
    margin-top: 15px;
    font-size: 24px;
    text-align: right;
}

.review{
    font-size: var(--main-font-size);
}

.reviewDesc{
    width: 80%;
}

.userReviews{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    text-align: center;
}

.userReview{
    text-align: left;
    margin: auto;
    font-weight: bold;
}

.pageLink{
    text-align: right;
    display: block;
    text-decoration: none;
    color: var(--color);
    background-color: var(--bg-color);
    font-size: calc(var(--main-font-size) + 8px);
    margin-top: 20px;
    cursor: pointer;
}

.endPage{
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
}

@media screen and (max-width: 1920px){
    .trustFactors, .productReviews{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1444px){
    .productReview{
        display: block;
    }
    .reviewDesc{
        width: 100%;
    }
    .userReviews{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: left;
    }
}

@media screen and (max-width: 1120px){
    :root{
        --container-width: 96%;
    }
}

@media screen and (max-width: 600px){
    #navigation{
        width: 100%;
        justify-content: center;
    }
    .navbar{
        display: none;
    }
    .burger{
        display: block;
    }
    .theme{
        display: block;
    }
    .dropdown{
        display: block;
        position: absolute;
        text-align: center;
        top: 85%;
        width: 100%;
        background-color: var(--bg-color);
        z-index: 2;
        padding-bottom: 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }
    .dropdown.show{
        opacity: 1;
        pointer-events: auto;
    }
    .container, .userReviews{
        text-align: left;
    }
}